[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rnx/py310venv]
row=5
col=4

[/home/rnx/1138]
row=7
col=4

[/home/rnx/symlinks]
row=1
col=2

[/home/rnx/fstab.bak]
row=9
col=2

[/home/rnx/hllmusic]
row=5
col=3

[/home/rnx/vbsrv]
row=6
col=4

[/home/rnx/Uminekosave]
row=0
col=1

[/home/rnx/operator2.sh]
row=3
col=0

[/home/rnx/gitthings]
row=0
col=3

[/home/rnx/mountvbsrv.sh]
row=9
col=0

[/home/rnx/python3_env]
row=10
col=3

[/home/rnx/etc-pihole]
row=5
col=2

[/home/rnx/rootNR200]
row=2
col=1

[/home/rnx/Umineko_E01_E02_01.7z]
row=6
col=2

[/home/rnx/vanban]
row=3
col=1

[/home/rnx/eth0_home]
row=10
col=1

[/home/rnx/wifi]
row=0
col=0

[/home/rnx/usb]
row=1
col=4

[/home/rnx/Ex]
row=9
col=3

[/home/rnx/Umineko_E01_E02_02.7z]
row=0
col=2

[/home/rnx/xorg.conf.nvidia]
row=4
col=0

[/home/rnx/ncmpcpp]
row=2
col=4

[/home/rnx/etc-dnsmasq.d]
row=2
col=2

[/home/rnx/tips]
row=7
col=2

[/home/rnx/vlc_KEYDB.cfg]
row=8
col=2

[/home/rnx/umineko]
row=6
col=1

[/home/rnx/tianetwork]
row=7
col=1

[/home/rnx/tsn]
row=4
col=2

[/home/rnx/pihole-20220730_032403.tar.gz]
row=3
col=2

[/home/rnx/Videos]
row=5
col=0

[/home/rnx/Pictures]
row=6
col=0

[/home/rnx/Documents]
row=8
col=0

[/home/rnx/libshare]
row=2
col=3

[/home/rnx/Music]
row=7
col=0

[/home/rnx/Downloads]
row=2
col=0

[/home/rnx/gateway_config.dat]
row=1
col=3

[/home/rnx/killueber]
row=5
col=1

[/home/rnx/test]
row=8
col=3

[/home/rnx/polybar]
row=8
col=4

[/home/rnx/scripts]
row=8
col=1

[/home/rnx/pihole_20210721_041329.tar.gz]
row=10
col=2

[/home/rnx/extemp]
row=6
col=3

[/home/rnx/vt]
row=4
col=3

[/home/rnx/uminekocg]
row=1
col=1

[/home/rnx/bin]
row=3
col=4

[/home/rnx/data250]
row=4
col=4

[/home/rnx/wifi1138.sh]
row=10
col=0

[/home/rnx/ytmpv.sh]
row=9
col=1

[/home/rnx/t1share]
row=3
col=3

[/home/rnx/viber]
row=1
col=0

[/home/rnx/xorg.conf.new]
row=4
col=1

[/home/rnx/sh]
row=7
col=3

[/home/rnx/sn750]
row=0
col=4

