[LightUI]
# Main Window Position X
#MainWindowOffsetX=500
# Main Window Position Y
#MainWindowOffsetY=40
# Font
Font=mplus Nerd Font
# Font Locale to display
FontLocale=en_GB.UTF-8
# Use System Tray Icon
# Available Value:
# True False
#UseTray=True
# Main Window Hide Mode
# Available Value:
# Show
# Auto
# Hide
MainWindowHideMode=Hide
# Vertical Candidate Word List
# Available Value:
# True False
VerticalList=True
# Font Size
FontSize=11
# Background Color
BackgroundColor=0 0 0
# Border Color
BorderColor=87 227 137
# Tip Message Color
TipColor=255 255 255
# Input Message Color
InputColor=255 255 255
# Candidate Index Color
IndexColor=192 191 188
# First Candidate Color
FirstCandColor=237 51 59
# User Phrase Color
UserPhraseColor=220 138 221
# Table Code Color
#CodeColor=255 0 132
# Other Color
OtherColor=255 255 255
# Active Menu Item Character Color
ActiveMenuColor=255 255 255
# Inactive Menu Item Character Color
InactiveMenuColor=255 255 255
# Active Menu Color
ActiveColor=255 255 255
# Space Line Color
LineColor=255 255 255
# Cursor Color
CursorColor=230 97 0

