next_color=2
viewer_size=96
viewer_text_overlay_position=0
use_background_color=false
viewer_type=text

[1]
type=cpu_usage
cpu_no=-1
include_low_priority=false
include_iowait=false
update_interval=1000
fixed_max=true
tag=
add_to_text_overlay=true
color=-4980481
network_type_0_interface_name=eth0
network_type_1_interface_name=eth1
network_type_2_interface_name=eth2
network_type_3_interface_name=ppp
network_type_4_interface_name=slip
network_type_5_interface_name=wlan0
network_type_6_interface_name=wlan1
network_type_7_interface_name=wlan2

[2]
type=temperature
temperature_no=0
update_interval=20000
fixed_max=false
max=0
tag=
add_to_text_overlay=true
color=-7074817

[3]
type=temperature
temperature_no=1
update_interval=20000
fixed_max=false
max=0
tag=
add_to_text_overlay=true
color=16520447

[4]
type=memory_usage
update_interval=10000
fixed_max=true
tag=
add_to_text_overlay=true
color=-551300609

